/* GENERAL */
* {
    box-sizing: border-box;
}
html{
    position: relative;
    min-height: 100%;
    margin:0;
}
body{
    width:100%;
    height: 100%;
    margin:0;
    background:url("../images/connectwork.png");
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size:1.2rem;
    margin-bottom:50px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.widthset{
    max-width: 100%;
    width:960px;
    margin:0 auto;
}
/* FOOTER PADDING */
.wrapper{
    max-width: 100%;
    box-sizing: content-box;
    height:auto;
    min-height:100%;
    margin-bottom:-50px;
    display:block;
    overflow:auto;
}
/* NAVBAR */
nav {
    margin:0;
    background-color:#ffffff;
    padding: 0px;
    text-align: center;
    font-size: 1.5rem;
    border-bottom:solid;
    border-color:#dddddd;
    height:60px;
}
nav h1{
    color:#ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size:2rem;
    float:left;
    background:#4aaaa5;
    line-height: 60px;
    padding:0 20px;
    margin:0;
}
.navbar{
    line-height: 60px;
    list-style-type: none;
    margin: 0 0 50px 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}
.navbutton {
    float: right;
}
.navbar a:hover {
    background:#4aaaa5;
    color:#ffffff;
}
.navbar a {
    color:#777777;
}
.navlink {
    display: block;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
}
/* BODY */
.textbody{
    max-width:90%;
    box-sizing: content-box;
    background:#ffffff;
    padding:50px;
    margin:50px 10px 100px;
    border:solid;
    border-color:#dddddd;
    display:block;
    overflow:hidden;
}
.textbody h2{
    color:#4aaaa5;
    padding:0 0 30px 0;
    margin: 0 0 30px 0;
    font-size: 30px;
    width:100%;
    border-bottom-style: solid;
    border-color:#dddddd;
}
/* ABOUT */
#profile{
    margin: 0 20px 20px 0;
    float:left;
    height: 250px;
    width: 250px;
}
p{
    line-height: 1.6;
    text-indent: 0;
}
ul{
    text-align: center;
    list-style-type: none;
}
ul a{
    color:hsl(177, 39%, 48%)
}
ul a:hover{
    color:hsl(177, 39%, 40%)
}
/* CONTACT */
input[type=text], input[type=email]{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    width:100%;
    padding: 10px;
    margin:10px 0;
    line-height: 1.5;
    border:solid #dddddd;
    font-size:1rem;
}
textarea{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    width:100%;
    padding: 10px;
    margin:10px 0;
    line-height: 1.5;
    border:solid #dddddd;
    font-size:1rem;
    height:10rem;
    resize: none;
}
input[type=submit]{
    color:#ffffff;
    font-size:1.2rem;
    padding:10px 20px;
    background:#4aaaa5;
    border:none;
    cursor: pointer;
}
/* PORTFOLIO */
.linkimg{
    height: 300px;
    width: 300px;
    margin:65px;
    cursor: pointer;
}
.imgwrap{
    position:relative;
    width:400px;
    height:400px;
    float:left;
}
.imgwrap h3{
    width:300px;
    position: absolute;
    top:60%;
    display:block;
    text-align:center;
    margin: auto 65px;
    padding:20px;
    background:#4aaaa5;
    color:#ffffff;
    cursor: pointer;
}
/* FOOTER */
footer{
    text-align:center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 48px;
    line-height: 40px;
    border-top: 8px solid #4aaaa5;
    font-size:1rem;
    color:#ffffff;
    background:#666666;
}

@media screen and (max-width: 980px) {
    .textbody{
        margin: 50px auto 0;
        float:none;
        max-width:50%;
    }
    .imgwrap{
        width:100%;
        text-align: center;
    }
    .linkimg{
        margin:auto;
    }
    img{
        margin:auto;
    }
    .imgwrap h3{
        width:300px;
        position:relative;
        top:-200px;
        text-align:center;
        margin:auto;
        z-index: 1;
    }
}

@media screen and (max-width: 768px) {
    nav h1{
        font-size:1.2rem;   
    }
    .navlink{
        font-size:1rem;
    }
    .textbody{
        margin: 30px auto 0;
        float:none;
        max-width:70%;
    }
}

@media screen and (max-width: 640px){
    nav h1{
        font-size:1.5rem;
        width:100%;
        clear:both;
    }
    .navbutton {
        float:none;
        display:inline-block;
    }
    .navbar{
        width:100%;
        display:inline-block;
        margin:0;
    }
    .textbody{
        margin-top:70px;
    }
    .navlink{
        font-size:1.5rem;
    }
}